{% extends "base_generic.html" %}
{% load static %}
{% block content %}


<div class="bg-gradient v-center h-center px-3" style="min-height: 100vh;">
  <div class="container py-4 px-lg-5">
    <div class="row bg-white py-5 rounded-lg shadow" style="min-height: 75vh;">
      
      <div class="col-12 col-lg-6 v-center h-center">
        <img src="{% static 'images/done-image.svg' %}" class="w-75" alt="Login">
      </div>
      
      <div class="col-12 col-lg-6 v-center h-center">
        <div style="width: 85%">
          <h2 class="text-info font-weight-bold mb-4 mt-lg-0 text-center">Success!</h2>

          <p class="text-dark text-center">The password has been changed.</p>
          
          <div class="text-center mt-4 mt-lg-5">
            <p class="text-info small font-weight-light">Log back in <a href="{% url 'login' %}" class="text-primary">here.</a></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
    