{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<div class="bg-gradient v-center h-center px-3" style="min-height: 100vh;">
  <div class="container py-4">
    <div class="row bg-white py-5 rounded-lg shadow" style="min-height: 80vh;">
      
      <div class="col-12 col-lg-6 v-center h-center">
        <img src="{% static 'images/login-image.svg' %}" class="w-75" alt="Login">
      </div>
      
      <div class="col-12 col-lg-6 v-center h-center">
        <div style="width: 85%">
          {% if validlink %}
          <h2 class="text-info font-weight-bold mb-4 mb-lg-5 mt-5 mt-lg-0 text-center">Set New Password</h2>
          <form method="post" action="" class="mb-4">
            {% csrf_token %}        
          <div class="input-group mb-2 mr-sm-2 border py-2 px-3 rounded-pill input-container">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-0 rounded-pill pr-0"><i class="fas fa-lock text-primary" aria-hidden="true"></i></div>
            </div>
            <input type="password" class="form-control border-0 rounded-pill bg-transparent" name="new_password1" autocomplete="new-password" placeholder="New Password" required="" id="id_new_password1">
          </div>
          <div class="input-group mb-2 mr-sm-2 border py-2 px-3 rounded-pill input-container">
            <div class="input-group-prepend">
              <div class="input-group-text bg-transparent border-0 rounded-pill pr-0"><i class="fas fa-lock text-primary" aria-hidden="true"></i></div>
            </div>
            <input type="password" class="form-control border-0 rounded-pill bg-transparent" name="new_password2" autocomplete="new-password" placeholder="Confirm Password" required="" id="id_new_password2">
          </div>

            <input type="submit" class="btn btn-lg btn-success rounded-pill w-100 mt-4" value="Change my password" />
          </form>
          {% else %}
          <h2 class="text-info font-weight-bold mb-4 mt-5 mt-lg-0 text-center">Password reset failed.</h2>
          <p class="text-dark text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
          {% endif %}

          {% if form.errors %}
          <ul class="alert alert-danger small px-3 text-small" role="alert">
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
          </ul>
          {% endif %}

          <div class="text-center mt-4 mt-lg-5">
            <p class="text-info small font-weight-light">Got your credentials? Login <a href="{% url 'login' %}" class="text-primary">here.</a></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
    