html,
body {
    font-family: 'Inter', sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.smaller {
    font-size: 0.75em;
}

.bg-gradient {
    background: rgb(71, 160, 110);
    background: -moz-linear-gradient(268deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: -webkit-linear-gradient(268deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: linear-gradient(268deg, #47a06e, #3b7cb4);
    background-size: 400% 400%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47a06e", endColorstr="#3b7cb4", GradientType=1);
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}

.bg-blue-green {
    background: rgb(71, 160, 110);
    background: -moz-linear-gradient(48deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: linear-gradient(48deg, #47a06e, #3b7cb4);
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 74%
    }

    50% {
        background-position: 100% 27%
    }

    100% {
        background-position: 0% 74%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 74%
    }

    50% {
        background-position: 100% 27%
    }

    100% {
        background-position: 0% 74%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 74%
    }

    50% {
        background-position: 100% 27%
    }

    100% {
        background-position: 0% 74%
    }
}

.v-center {
    display: flex;
    align-items: center;
}

.h-center {
    justify-content: center;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.customScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

.input-container {
    transition-duration: 300ms;
}

.input-container:hover {
    background: #e6e6e6;
}

input:-webkit-autofill {
    border: none;
    transition: background-color 5000s ease-in-out 0s;
}

.no-decoration {
    text-decoration: none !important
}

.no-scroll {
    overflow: hidden
}

.errorlist {
    list-style: none;
    padding: 0px;
}

.nav-link {
    color: #3b7cb4;
    transition-duration: 300ms;
}

.nav-link:hover {
    color: #334d59
}

.dropdown-item:focus {
    background: #3b7cb4 !important;
}

.wrapper {
    display: flex;
    min-height: calc(100vh - 66px);
    margin-top: 66px;
}

#sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    transition-duration: 300ms;
    z-index: 999;
}

#sidenav {
    width: 220px;
}

#sidenav>li {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    transition-duration: 300ms;
}

#sidenav>li:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#sidenav>li.active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#sidenav>li>a {
    color: #A3A3A3;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 300ms;
}

#sidenav>li:hover>a {
    color: #334d59;
}

#sidenav>li.active>a {
    color: #334d59;
    background: -webkit-linear-gradient(#f44336, #334d59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sidenav>li>a>i {
    padding-right: 0.75rem;
}

#sidenav>li.active>a>i {
    color: #334d59;
    background: -webkit-linear-gradient(#f44336, #c49036);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    position: relative;
    width: calc(100vw - 250px);
    margin-left: 250px;
    transition-duration: 300ms;
}

.content.show {
    width: 100vw;
    margin-left: 0px;
}

#sidebar.show {
    margin-left: -250px;
}

@media (max-width: 991.98px) {
    .content {
        width: 100vw;
        margin-left: 0px;
    }

    #sidebar {
        margin-left: -250px;
    }

    #sidebar.show {
        margin-left: 0;
    }
}

.dropdown-menu {
    min-width: 0 !important;
}

.dropdown-item:hover {
    background: #F2F3F7 !important;
    color: #212529 !important;
}

.dropdown-item:active {
    background: #3b7cb4 !important;
    color: white !important;
}

.notifDropDown-item:active {
    background: #F2F3F7 !important;
    color: #212529 !important;
}

#notificationBox {
    min-width: 250px !important;
    max-height: 70vh;
    overflow-y: auto;
}

#notifDot {
    background: #47a06e;
    position: absolute;
    right: -1px;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.v-scroll {
    white-space: nowrap;
    display: block;
}

.v-scroll>a {
    display: inline-block;
    text-decoration: none
}

.bg-translucent {
    background: rgba(0, 0, 0, .5);
}



.dashModalBody {
    animation: modalShow 300ms;
}

@keyframes modalShow {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

.dashModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.dashModalContainer.show {
    display: block;
}

.bg-translucent {
    background: rgba(0, 0, 0, .5);
}

.form-group>label {
    margin: 0;
}

.pagination>li>a {
    background-color: white;
    color: #47a06e;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #47a06e !Important;
    border: solid 1px #47a06e !Important;
}

.pagination>.active>a:hover {
    background-color: #47a06e !Important;
    border: solid 1px #47a06e;
}

.hover-shadow:hover {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%) !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%) !important;
}