{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<div class="bg-gradient v-center h-center px-3" style="min-height: 100vh;">
  <div class="container py-4">
    <div class="row bg-white py-5 rounded-lg shadow" style="min-height: 80vh;">

      <div class="col-12 col-lg-6 v-center h-center">
        <img src="{% static 'images/register-image.svg' %}" class="w-75" alt="Login">
      </div>

      <div class="col-12 col-lg-6 v-center h-center">
        <div style="width: 85%">
          <h2 class="text-info font-weight-bold mb-4 mb-lg-5 mt-5 mt-lg-0 text-center">Edit Profile</h2>
          <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="input-group mb-2 mr-sm-2 border py-2 px-3 rounded-pill input-container">
              <div class="input-group-prepend">
                <div class="input-group-text bg-transparent border-0 rounded-pill pr-0"><i
                    class="fas fa-user text-primary" aria-hidden="true"></i></div>
              </div>
              <input type="text" class="form-control border-0 rounded-pill bg-transparent" placeholder="First Name"
                name="first_name" autofocus="" autocapitalize="none" autocomplete="first-name" maxlength="150"
                required="" value="{{formData.first_name}}" id="id_first_name">
            </div>
            <div class="input-group mb-2 mr-sm-2 border py-2 px-3 rounded-pill input-container">
              <div class="input-group-prepend">
                <div class="input-group-text bg-transparent border-0 rounded-pill pr-0"><i
                    class="fas fa-user text-primary" aria-hidden="true"></i></div>
              </div>
              <input type="text" class="form-control border-0 rounded-pill bg-transparent" placeholder="Last Name"
                name="last_name" value="{{formData.last_name}}" autofocus="" autocapitalize="none"
                autocomplete="last-name" maxlength="150" required="" id="id_last_name">
            </div>
            <div class="input-group mb-2 mr-sm-2 border py-2 px-3 rounded-pill input-container">
              <div class="input-group-prepend">
                <div class="input-group-text bg-transparent border-0 rounded-pill pr-0"><i
                    class="fas fa-key text-primary" aria-hidden="true"></i></div>
              </div>
              <input type="password" class="form-control border-0 rounded-pill bg-transparent"
                placeholder="New Password" name="password" value="" autofocus="" autocomplete="new-password"
                maxlength="150">
            </div>
            <div class="input-group mb-2 mr-sm-2 border py-2 px-3 rounded-pill input-container">
              <div class="input-group-prepend">
                <div class="input-group-text bg-transparent border-0 rounded-pill pr-0"><i
                    class="fas fa-key text-primary" aria-hidden="true"></i></div>
              </div>
              <input type="password" class="form-control border-0 rounded-pill bg-transparent"
                placeholder="Re-Enter Password" name="password1" value="" autofocus="" autocomplete="new-password"
                maxlength="150">
            </div>
            <input type="submit" class="btn btn-lg btn-success rounded-pill w-100 mt-4" value="Update Profile" />
          </form>

          {% if msg.save %}
          <div class="alert alert-success small px-3 rounded-pill text-small" role="alert">
            Your profile has been updated!
          </div>
          {% elif msg.err %}
          <div class="alert alert-danger small px-3 rounded-pill text-small" role="alert">
            Your password doesn't match!
          </div>
          {% endif %}

          <div class="text-center mt-4 mt-lg-5">
            <p class="text-info small font-weight-light">Looks good? Go to <a href="{% url 'admin_dashboard' %}"
                class="text-primary">Dashboard.</a></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}