{% extends "admin/base_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load param_replace_tags %}

{% block page_content %}
<div class="container-fluid pt-1 pt-lg-3 d-flex h-100 flex-column">
    <h2 class="text-info mb-0 font-weight-bold pt-2">Complaint Reminders</h2>
    <form method="GET" name="submit">
        <div class="row">
            <div class="form-group col mt-2">
                {{ filter.form.search | as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mt-2">
                {{ filter.form.active | as_crispy_field }}
            </div>
            <div class="form-group d-none col-auto d-md-flex align-items-end">
                <input type="submit" value="Search" class="btn btn-primary btn-success w-100">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-3 mt-2">
                {{ filter.form.category | as_crispy_field }}
            </div>
            <div class="form-group col-12 col-md-3 mt-2">
                {{ filter.form.location | as_crispy_field }}
            </div>
            <div class="form-group col-6 col-md-3 mt-2">
                {{ filter.form.createdSort | as_crispy_field }}
            </div>
            <div class="form-group col-6 col-md-3 mt-2">
                {{ filter.form.rating | as_crispy_field }}
            </div>
        </div>
        <div class="d-block d-md-none mt-2">
            <input type="submit" value="Search" class="btn btn-primary btn-success w-100 py-2">
        </div>
    </form>
    <div class="row mt-4">
        {% for complaint in complaints %}
        <div class="col-12 col-lg-4 mb-4 complaintContainer">
            <div class="h-100">
                <div class="card-body shadow-sm bg-white rounded-lg p-4 h-100 d-flex flex-column">
                    <h5 class="mb-1 font-weight-bold text-truncate">#{{complaint.complaint_id}}
                        {{complaint.get_location_display }} -
                        {{complaint.get_category_display }}
                    </h5>
                    <div class="mb-0 small row">
                        <div class="col">
                            <i class="fas fa-user"></i> {{complaint.customer.user.first_name}}
                            {{complaint.customer.user.last_name}}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-phone-alt"></i> {{complaint.customer.contact}}
                        </div>
                        <div class="col-12">
                            <i class="fas fa-envelope"></i> {{complaint.customer.user.username}}
                        </div>
                    </div>
                    <div class="mb-0 smaller row">
                        <div class="col">
                            Status:
                            {% if complaint.active %}
                            <span class="badge bg-success">Active</span>
                            {% else %}
                            <span class="badge bg-secondary">Closed</span>
                            {% endif %}
                        </div>
                        <div class="ml-auto col-auto text-right">{{complaint.created_at}}</div>
                    </div>
                    <p class="small mt-1 mb-3">{{ complaint.description | truncatechars:80}}</p>
                    <div class="row mt-auto ">
                        <div class="col">
                            <a href="#{{complaint.complaint_id}}" class="w-100 btn btn-sm btn-outline-success"
                                onclick="showComplaintInfo('{{complaint.complaint_id}}')">Complaint Details <i
                                    class="fas fa-arrow-right ml-1 small"></i></a>
                        </div>
                        {% if complaint.active %}
                        <div class="col-4 pl-0">
                            <Button class="w-100 btn btn-sm btn-outline-danger"
                                onclick="closeComplaint('{{complaint.complaint_id}}')">Close <i
                                    class="fas fa-times ml-1 small"></i></Button>
                        </div>
                        {% else %}
                        <div class="col-4 pl-0">
                            <Button class="w-100 btn btn-sm btn-outline-warning"
                                onclick="reopenComplaint('{{complaint.complaint_id}}')">Reopen <i
                                    class="fas fa-redo ml-1 small"></i></Button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if complaints.has_other_pages %}


    <nav class="mt-auto">
        <ul class="pagination justify-content-center mb-0">
            {% if complaints.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=complaints.previous_page_number %}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="">Previous</a>
            </li>
            {% endif %}

            {% for i in complaints.paginator.page_range %}
            {% if complaints.number == i %}
            <li class="page-item active">
                <a class="page-link" href="#">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if complaints.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=complaints.next_page_number %}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<div class="dashModalContainer bg-translucent">
    <div class="d-flex w-100 align-items-start h-center p-3 p-lg-5" style="height: 90vh;">
        <div class="bg-white h-100 w-100 rounded shadow dashModalBody px-3 py-3" style="position: relative">
            <div class="btn text-danger bg-white rounded-circle" onclick="hideComplaintInfo(event)"
                style="position: absolute; right: -0.65rem; font-size: 1.5rem; top: -0.6rem;"><i
                    class="far fa-times-circle"></i></div>
            <div style="overflow-y: scroll; height: 100%;" class="customScroll">
                <div class="h1" id="complaintModalSpinner"
                    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i
                        class="fas fa-circle-notch fa-spin"></i></div>
                <div id="complaintModalContent" class="pt-1 px-lg-3 pt-lg-2 d-none">
                    <h4 class="mb-2 font-weight-bold" id="complaintTitle"></h4>
                    <p class="mb-0 ">Complaint ID: <span id="complaintId"></span></p>
                    <p class="mb-0 ">Name: <span id="complaintName"></span></p>
                    <p class="mb-0 ">Contact: <span id="complaintContact"></span></p>
                    <p class="mb-0 ">Email: <span id="complaintEmail"></span></p>
                    <p class="mb-0 ">Date: <span id="complaintDate"></span></p>
                    <p class="mb-0 ">Location: <span id="complaintLocation"></span></p>
                    <p class="mb-0 ">Category: <span id="complaintCategory"></span></p>
                    <div class="mb-0 ">
                        <div class="col">
                            Status:
                            <span class="badge bg-success" id="complaintActive">Active</span>
                            <span class="badge bg-secondary" id="complaintClosed">Closed</span>
                        </div>
                    </div>
                    <p class="mb-0 ">Reminder Date: <span id="complaintReminder"></span></p>
                    <p class="mb-0 ">Set Reminder On: <span><input type="date" name="reminder" placeholder="DD-MM-YYYY"
                                class="textinput textInput form-control"
                                onchange="complaintReminderChange(event)"></span>
                    </p>
                    <p class="mt-2 mb-0 font-weight-bold">Complaint Detail</p>
                    <p class="pr-3" id="complaintDesc">
                    </p>
                    <div id="feedback" class="d-none">
                        <p class="mt-2 mb-1 font-weight-bold">Complaint Feedback</p>
                        <div class="pr-2 pr-lg-0">
                            <textarea class="form-control" placeholder="Leave your comment here..." name="feedbackDesc"
                                id="feedbackDesc" rows="5" readonly></textarea>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <div id="star-rating"></div>
                        </div>
                        <p class="mt-1 small mb-1 text-center">Rating on a scale of 1 to 5.
                        </p>
                    </div>
                    <div class="mt-4 pr-2 pr-lg-0 text-right">
                        <div class="d-none" id="complaintClose">
                            <Button class="btn btn-lg btn-outline-danger" onclick="closeComplaint(null)">Close <i
                                    class="fas fa-times ml-1 small"></i></Button>
                        </div>
                        <div class="d-none" id="complaintReopen">
                            <Button class="btn btn-lg btn-outline-warning" onclick="reopenComplaint(null)">Reopen <i
                                    class="fas fa-redo ml-1 small"></i></Button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_script %}

<script>
    function complaintAction(id, status) {
        sendData("{% url 'complaint_action' %}", {
            id: id,
            status: status
        }, () => {
            location.reload()
        })
    }

    function complaintReminderChange(event) {
        id = window.location.href.split("#")[1];
        sendData("{% url 'set_complaint_reminder' %}", {
            id: id,
            date: event.target['value']
        }, () => {
            location.reload()
        })
    }

    function closeComplaint(id) {
        if (id === null) {
            id = window.location.href.split("#")[1];
        }
        complaintAction(id, 0);
    }

    function reopenComplaint(id) {
        if (id === null) {
            id = window.location.href.split("#")[1];
        }
        complaintAction(id, 1);
    }

    function setupFeedback(rating, msg) {
        $("#star-rating").rateYo().rateYo("destroy");
        $("#star-rating").rateYo({
            starWidth: "30px",
            fullStar: true,
            readOnly: true,
            spacing: "5px",
            rating: rating
        });
        if (msg)
            $("#feedbackDesc").val(msg);
        else
            $("#feedbackDesc").val('N/A');
    }

    function populateComplaintModal(complaint) {
        if (complaint.status === 404 || !complaint.data) {
            hideComplaintInfo(null)
            return;
        }
        $("#complaintTitle").html("#" + complaint.data.id + " " + complaint.data.location + " - " + complaint.data
            .category)
        $("#complaintId").html(complaint.data.id)
        $("#complaintDate").html(complaint.data.created_at)
        $("#complaintLocation").html(complaint.data.location)
        $("#complaintCategory").html(complaint.data.category)
        $("#complaintDesc").html(complaint.data.desc)
        $("#complaintName").html(complaint.data.name)
        $("#complaintContact").html(complaint.data.contact)
        $("#complaintEmail").html(complaint.data.email)
        $("#complaintReminder").html(complaint.data.reminder)

        if (complaint.data.active) {
            $("#complaintActive").removeClass("d-none");
            $("#complaintClosed").addClass("d-none");
            $("#feedback").addClass("d-none");
            $("#complaintClose").removeClass("d-none");
            $("#complaintReopen").addClass("d-none");
        } else {
            $("#complaintClosed").removeClass("d-none");
            $("#complaintActive").addClass("d-none");
            $("#feedback").removeClass("d-none");
            $("#complaintClose").addClass("d-none");
            $("#complaintReopen").removeClass("d-none");
            setupFeedback(complaint.data.rating, complaint.data.feedback)
        }
        $("#complaintModalContent").removeClass("d-none");
        $("#complaintModalSpinner").addClass("d-none");
    }



    function showComplaintInfo(slug) {
        $(window).scrollTop(0);
        fetchData("/api-complaint/" + slug, populateComplaintModal);
        $('body').addClass("no-scroll");
        $('html').addClass("no-scroll");
        $(".dashModalContainer").fadeIn();
    }

    $(document).on('keydown', function (event) {
        if (event.key == "Escape") {
            hideComplaintInfo(event);
        }
    });

    function hideComplaintInfo(event) {
        if (event) {
            event.preventDefault();
        }
        history.replaceState(null, null, ' ');
        $('body').removeClass("no-scroll");
        $('html').removeClass("no-scroll");
        $(".dashModalContainer").fadeOut(function () {
            $("#complaintModalContent").addClass("d-none");
            $("#complaintModalSpinner").removeClass("d-none");
        });
    }

    $(document).ready(() => {
        var onLoadComplaint = window.location.href.split("#")[1];
        if (onLoadComplaint) {
            showComplaintInfo(onLoadComplaint);
        }
    });
</script>
{% endblock %}